/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

// normalize before any styling

$main-color: #F6F6F2;
$secondary-color: rgba(194, 237, 206, 0.418);
$second-contrast: #BADFE7;
$supplement-color: #6FB3B8;
$contrast-color: #388087;
$button-color: #68A0C3;

.field_with_errors {
  display: inline;
}

html {
  height: 100%;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  padding-top: 56px;

}

body {
  height: 100%;
}

.navbar {
  background-color: #C38B68;

  .navbar-brand {
    color: white;
  }

  .btn:hover,
  .btn-outline-success:hover {
    background-color: #5683A0;
    border-color: #5683A0;
    color: white !important;
  }

  .btn,
  .btn-outline-success {
    border-color: $button-color;
    background-color: $button-color;
  }

  .btn:focus,
  .btn:active,
  .btn:active:focus,
  .btn-outline-success:focus,
  .btn-outline-success:active,
  .btn-outline-success:active:focus {
    outline: none !important;
    box-shadow: none !important;
    background-color: $button-color !important;
    border: none !important
  }
}

// login page
#login {
  overflow: hidden;
  height: 100%;
  background-image: image-url('paws2.jpg');
  background-position: left;
  background-position-y: 0px;
  background-repeat: no-repeat;

  .display-1 {
    border-bottom: 1px solid black;
  }

  .btn:hover,
  .btn-outline-success:hover {
    background-color: $button-color;
    border-color: $button-color;
    color: white !important;
  }

  .btn,
  .btn-outline-success {
    border-color: $button-color;
    color: $button-color;
  }

  .btn:focus,
  .btn:active,
  .btn:active:focus,
  .btn-outline-success:focus,
  .btn-outline-success:active,
  .btn-outline-success:active:focus {
    outline: none !important;
    box-shadow: none !important;
    background-color: $button-color !important;
    border: none !important
  }

}

// registration page
#register {
  overflow: hidden;
  height: 100%;
  background-image: image-url('paws2.jpg');
  background-position: left;
  background-position-y: 0px;
  background-repeat: no-repeat;

  .display-1 {
    border-bottom: 1px solid black;
  }
  
  .btn:hover,
  .btn-outline-success:hover {
    background-color: $button-color;
    border-color: $button-color;
    color: white !important;
  }

  .btn,
  .btn-outline-success {
    border-color: $button-color;
    color: $button-color;
  }

  .btn:focus,
  .btn:active,
  .btn:active:focus,
  .btn-outline-success:focus,
  .btn-outline-success:active,
  .btn-outline-success:active:focus {
    outline: none !important;
    box-shadow: none !important;
    background-color: $button-color !important;
    border: none !important
  }
}

// main page
#index {
  // background-color: $main-color;
  background-image: image-url('paws.jpg');
  background-size: auto;
  background-position: absolute;
  background-repeat: repeat-y;
  background-attachment: fixed;
  padding-bottom: 56px;

  .card {
    padding: 0 0;

    .card-body {
      padding-bottom: 5px;
      position: relative;


      .animals {
        width: 30%;
        position: absolute;
        right: -25px;
        top: -90px;
        line-height: 1.5;
        color: black;
      }
    }
  }

  .profile-card-5 {
    margin-top: 20px;
    position: relative;
    max-width: 350px;

    .profile-link {
      position: absolute;
      right: -18px;
      top: -14px;
      z-index: 100;
    }

    .card-img-block {
      width: 91%;
      margin: 0 auto;
      position: relative;
      top: -20px;

    }

    .card-img-block img {
      border-radius: 5px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.63);
      max-height: 133px;
      max-width: 200px;
    }

    .btn {
      border-radius: 2px;
      font-size: 12px;
      padding: 7px 20px;
      width: 28%;
    }

    .btn:hover,
    .btn-outline-success:hover {
      background-color: #5683A0;
      border-color: #5683A0;
      color: white !important;
    }

    .btn,
    .btn-outline-success {
      border-color: $button-color;
      background-color: $button-color;
    }

    .btn:focus,
    .btn:active,
    .btn:active:focus,
    .btn-outline-success:focus,
    .btn-outline-success:active,
    .btn-outline-success:active:focus {
      outline: none !important;
      box-shadow: none !important;
      background-color: #5683A0 !important;
      border: none !important
    }

    h5 {
      color: #4E5E30;
      font-weight: 600;
      text-decoration: underline;
    }

    p {
      font-size: 14px;
      font-weight: 300;
    }
  }

}

// profile creation
#new-profile,
#book {
  padding-bottom: 56px;

  .btn:hover,
  .btn-outline-success:hover {
    background-color: #5683A0;
    border-color: #5683A0;
    color: white !important;
  }
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
  .btn,
  .btn-outline-success {
    border-color: $button-color;
    background-color: $button-color;
    color: white !important;
  }

  .btn:focus,
  .btn:active,
  .btn:active:focus,
  .btn-outline-success:focus,
  .btn-outline-success:active,
  .btn-outline-success:active:focus {
    outline: none !important;
    box-shadow: none !important;
    background-color: #5683A0 !important;
    border: none !important
  }

  .error {
    color: red;
    font-size: 14px;
  }
}

#edit-profile {
  padding-bottom: 56px;

  .btn:hover,
  .btn-outline-success:hover {
    background-color: #5683A0;
    border-color: #5683A0;
    color: white !important;
  }

  .btn,
  .btn-outline-success {
    border-color: $button-color;
    background-color: $button-color;
    color: white !important;
  }

  .btn:focus,
  .btn:active,
  .btn:active:focus,
  .btn-outline-success:focus,
  .btn-outline-success:active,
  .btn-outline-success:active:focus {
    outline: none !important;
    box-shadow: none !important;
    background-color: #5683A0 !important;
    border: none !important
  }

  .error {
    color: red;
    font-size: 14px;
  }
}

// current user profile page
#profile {
  padding-bottom: 56px;

}

// sitter profile page
// #sitter-profile {}